@font-face {
    font-family: gotFont;
    src: url("gotFont.ttf")
}

body, html {
    height: 100%;
}

.bg {
    background-image: url("homePageImage.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: gotFont;
    text-align: left;
    font-size: 90px;
    color:#b5bfc1;
    text-shadow: 2px 2px #610e0e;
    padding-top: 20px;
    padding-left: 10px;
}

p {
    color: #b5bfc1;
    font-family: gotFont;
    text-align: left;
    font-size: xx-large;
    text-shadow: 2px 2px #610e0e;
    padding-left: 10px;
    padding-top: 5px;
}

nav a {
    font-family: gotFont;
    text-align: left;
    font-size: large;
    color: #b5bfc1;
    text-shadow: 2px 2px #610e0e;
    padding-left: 10px;
    padding-top: 15px;
}

nav a:hover {
    color: #000000;
    text-shadow: 1px 1px firebrick;
}
